
.hidden-info{
  opacity:0;
  transform:translateY(20px);
  transition:0.8s ease;
}

.visible-info{
  opacity:1;
  transform:translateY(0);
}

.event-info{
  margin-top:40px;
  display:flex;
  flex-direction:column;
  gap:12px;
  font-size:18px;
  opacity:0.9;
}

.event-info a{
  color:#c8b37a;
  text-decoration:none;
}

.event-info a:hover{
  color:white;
}
